.navbar{
    display: flex;
    background: #2d3035;
    position: sticky;
    justify-content: space-between;
    top: 0;
    z-index: 120;
    padding: 1.2rem 3rem;
    box-shadow: 0 .8rem .8rem 0 rgba(0, 0, 0, 0.1);
    padding: 3rem 10rem;
    &__left{
        display: flex;
        h2{
            @include mainHeading;
            text-transform: uppercase;
        }
    }
}