

@mixin mainHeading{
    color: $dark-white;
    font-size: 1.8rem;
    font-weight: 700;  
}

@mixin sectionHeading{
    color: $smooth-gray;
    font-size: 1.6rem;
    font-weight: 600;  
}

@mixin subSectionHeading{
    color: $dark-gray;
    font-size: 1.4rem;
    font-weight: 500;
}

@mixin paragraph {
    color: $light-gray;
    font-size: 1.3rem;
    font-weight: 400;
}


@mixin smallParagraph {
    color: $smooth-gray;
    font-size: 1.2rem;
    font-weight: 500;
}


