
$yellow: #DBB42D;
$dark-green: #1E8139;
$light-green:#43C111;
$red: #E9113C;
$blue: #3498DB;
$dark-white:#FFFF;
$smooth-white:#f6f2f2;
$light-white:#e1e0e0;
$light-gray:rgb(159, 162, 164);
$smooth-gray:rgb(106, 117, 127);
$dark-gray:rgb(71, 71, 71);
$light-black:#222325;
$smooth-black:#191b1e;
$-dary-black: #050607;
$background:#24262B;


// :root{
//     --yellow: #DBB42D;
//     --dark-green: #1E8139;
//     --light-green:#43C111;
//     --red: #E9113C;
//     --blue: #3498DB;
//     --light-gray:rgb(159, 162, 164);
//     --smooth-gray:rgb(106, 117, 127);
//     --dark-gray:rgb(71, 71, 71);
//     --light-black:#222325;
//     --smooth-black:#191b1e;
//     --dary-black: #050607;
// }

